chatbot.wav
models/ggml-large-v3.bin
models/ggml-base.bin
models/ggml-base.en.bin
models/ggml-medium.bin
.DS_Store
.vscode/
.env
models/en_US-amy-medium.onnx
models/en_US-amy-medium.onnx.json
models/zh_CN-huayan-medium.onnx
models/zh_CN-huayan-medium.onnx.json
__pycache__/audio.cpython-313.pyc
__pycache__/chatbot.cpython-313.pyc
__pycache__/config.cpython-313.pyc
__pycache__/llm.cpython-313.pyc
__pycache__/stt.cpython-313.pyc
__pycache__/tts.cpython-313.pyc
__pycache__/utils.cpython-313.pyc
